.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  height: calc(100vh - 48px);
  margin-top: 48px;

  .form-col {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1,
    h4 {
      margin-right: 16px;
    }
  }

  .search,
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 250px;
      width: 300px;

      .list-el {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        margin: 4px;
        border: 2px solid #252525;
        cursor: pointer;
      }
    }
  }

  .clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid #252525;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.25s;
    }
  }
}
